@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@450&display=swap');

:root {
  --red: #cc241d;
  --green: #98971a;
  --yellow: #d79921;
  --blue: #458588;
  --purple: #b16286;
  --aqua: #689d6a;
  --gray: #a89984;

  --bg0_h: #1d2021;
  --bg0: #282828;
  --bg1: #3c3836;
  --bg2: #504945;
  --bg3: #665c54;
  --bg4: #7c6f64;

  --fg0: #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --fg3: #bdae93;
  --fg4: #a89984;
}

.navigation-bar {
	margin: auto;
	display: flex;
	border-radius: 5px;
	justify-content: space-between;
	background-color: var(--bg0_h);
}

.navigation-bar ul li {
	margin: 0 20px;
	list-style: none;
	display: inline-block;
}

.navigation-bar ul li a {
	text-decoration: none;
}

.social-bar {
	margin-top: 45.6%;
}

/* --------------------------------- */

* {
	font-family: 'Montserrat', sans-serif;
	color: var(--fg0);
}

input {
	border: 0;
	box-shadow: none;
	background-color: var(--bg1);
}

body {
	background-color: var(--bg0);
}